/**
 * iPhoneslide styles
 * by Michael Mokrysz
 */

/* -------------------------------------------------------------------------- */

.islide {
	width: 386px;
	height: 122px;
	overflow: hidden;
	position: relative;
	background: red;
}
.islide.three-up {
	width: 380px;
}
.islide ul {
	top: 0;
	left: 0;
	width: 9999px;
	list-style: none;
	position: absolute;
}
.islide ul li {
	float: left;
	width: 120px;
	height: 120px;
	margin-right: 6px;
}
.islide ul li a {
	
}
.islide ul li a img {
	border: 1px solid #cccccc;
}

/* -------------------------------------------------------------------------- */